<form  [formGroup]="fg" fxLayoutAlign="center center">
  <mat-card flex="33" fxLayout="column" >
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-form-field appearance="legacy">
      <input formControlName="username" matNativeControl placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matNativeControl placeholder="Password">
    </mat-form-field>
    <button mat-button (click)="onLogin($event)">Login</button>
  </mat-card>
</form>