.loginbox {
    width: 25%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.loginbox--title {
    font-weight: 600;
    font-size: 4rem;
}

.loginbox--formField {
    display: block;
    max-width: 90%;
}