<form class="routing-inner-elem" [formGroup]="fg">
  <mat-card class="loginbox">
    <mat-card-title class="loginbox--title">
      Login
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="loginbox--formField" appearance="legacy">
        <input formControlName="username" matNativeControl placeholder="Username">
      </mat-form-field>
      <mat-form-field class="loginbox--formField">
        <input type="password" formControlName="password" matNativeControl placeholder="Password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onLogin($event)">Login</button>
    </mat-card-actions>
  </mat-card>
</form>